.company-photo {
  height: 12vh;
}

#boeing {
  width: 120px;
}

#bofa {
  width: 180px;
}

#capitalone {
  width: 120px;
}

#deutsche {
  width: 150px;
}

#mastercard {
  width: 150px;
}

#microsoft {
  width: 150px;
}

#spotify {
  width: 130px;
}

#roblox {
  width: 150px;
}

#yc {
  width: 150px;
}

#paypal {
  width: 120px;
}

#ibm {
  width: 70px;
}

#deloitte {
  width: 140px;
}

#publicis {
  width: 90px;
}

#pwc {
  width: 70px;
}

#volvo {
  width: 140px;
}

#amazon {
  width: 110px;
}

#google {
  width: 200px;
}

#meta {
  width: 150px;
}